/* Title */
body{
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
font-family: "Montserrat";
}

p{
color: #8f8f8f;
}

.big-heading{
  font-weight: bold;
  size: 3rem;
  line-height: 1.5;
}
.section-heading{
  padding-top: 2%;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}
 /* containers */
.container-fluid{
  padding: 7% 15%;
  padding-bottom: 0;
}
 /* sections */
 .colored-section{
   background-color: #ff4c68;
   color: #fff;
 }

 .white-section{
   background-color: #fff;
 }


 /* navbar */

 .navbar{
   padding-top: 0 0 4.5rem;
 }
 .row{
   padding-top: 10%;
  padding-bottom: 10%;
 }

 .navbar-brand{
   font-family: "ubuntu";
   font-size: 2.5rem;
   font-weight: bold;
 }


.nav-item{
  padding-right: 25%;

}

.navbar-nav{
  padding-right: 15%;
}


 /* title section */
#title{
  text-align: left;
}
#title .container-fluid{
  padding: 3% 15% 7%;
}

.dog-image{
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
}

.download-button{
  margin: 5% 3% 5% 0;
}

/* features */
#features{
  position: relative;
}

.features-title{
  font-weight: bold;
  size: 1.5rem;
}

.icon{
  padding: 1rem;
  color: #fe8172;
}

.features-box{
  padding: 5%;
}

.icon:hover{
  color: #ff4c68;
}



/* testimonials */
#testimonials{

  background-color: #fe8172;
  color: #fff;
}

.testimonials-text{
  font-size: 2.5rem;
  line-height: 1.5;
}
.testimonials-images{
  width: 15%;
  border-radius: 100%;
}

.carousel-item{
 transition: 1.5s;
}
/* press */
#press{
  background-color: #fe8172;
}

.press-logo{
  width: 18%;
  padding: 3% 5%;
}

/* pricing section */

.pricing-title{

  font-weight: bold;
  size: 1.5rem;
}
.pricing-text{

  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column{
  padding: 3% 2%;
}

/* z-index
promjenili smo pozicije .dog-image i #features te smo dobili dojam z indexa
*/

/* footer */


 #pre-footer .big-heading{
   margin-bottom: 9%;
 }


.social-icon{
  margin: 20px 10px;
}



@media (max-width: 995px){
    #title{
      text-align: center;
    }

   .dog-image {
     position: static;
     transform: rotate(0);
   }
}
